*{
  background-color: #9ccef4;
  font-family: Raleway;
}

header{
  height: 4em;
  background-color: #759EDA;
  flex-grow: 1;
  flex-shrink: 1;

}
.SearchContainer > input{
  font-size:20px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 5px;
  color:white;
  border: none;
  background-color: transparent;

}
input:active,input:focus
{
 box-shadow: none !important;
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 outline: none !important;
 border-bottom: solid #050404 1px;
 padding-bottom: 5px;
 margin-left: 5px;}
::placeholder {
    color: white;
    opacity: 0.7; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.7;  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.7;  }
    .SearchContainer >button{
      margin-top: 15px;
      margin-bottom: 1%;
      margin-left: 5px;
      padding: 7px;
      background-color: #5879c7;
      color:rgb(0, 0, 0);
      border-radius:0%;
      padding-left: 10px;
      border: none;
    
    }
    button:active,button:focus{
      outline: none;
      box-shadow: none;
   
  }

.pic1{
  flex-grow: 1;
  flex-shrink: 1;
text-align: center;}
#current{
  width:25%;
  align-self: center;
}
span {
  font-weight: bolder;
}

#p1 {
  font-weight: bolder;
  margin-top: 0px;
  font-size: x-large;
  color: white;
}

#p2 {
  font-size: x-large;
}

#p3 {
  font-size: large;
}
.temp24{
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;}
  
#dd1,#dd2,#dd3,#dd4,#dd5,#dd6,#dd7{
  flex-grow: 1;
  flex-shrink: 1;
 

}

.temp24>div>#Time1,#Time2,#Time3,#Time4,#Time5,#Time6,#Time7{
text-align: center;
}
.temp24>div>#Deg1,#Deg2,#Deg3,#Deg4,#Deg5,#Deg6,#Deg7{
text-align: center;

}
@media screen and (max-width: 750px){
.SearchContainer{
    flex-wrap: wrap;
    text-align: center;
  }
  .temp24{
    flex-wrap:wrap;
  }
  .temp24>div{
    flex:1 1 25%;

  }
 

}
@media screen and (max-width: 500px){
  .SearchContainer{
      flex-wrap: wrap;
    }
    .temp24{
      flex-wrap:wrap;
    }
    .temp24>div{
      flex:1 1 50%;

    }
    header{
    
      flex-wrap: wrap;    

    
    }
    .SearchContainer >button{
      
      background-color: #5879c7;
      color:rgb(0, 0, 0);
       float: left;
        margin-right: 0px;
      margin-top: 0px;
    }
    .SearchContainer > input{
      float: left;

    
    }


    #current{
      width:70%;
      flex-wrap: wrap;


    }
    }
    @media screen and (max-width: 300px){
      .SearchContainer{
          flex-wrap: wrap;
        }
        .temp24{
          flex-wrap:wrap;
        }
        .temp24>div{
          flex:1 100%;
    
        }
        header{
         
       float: left;
        
        }
        .SearchContainer >button{
          
          background-color: #5879c7;
          color:rgb(0, 0, 0);
          float: left;
        }
  
  }